.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.grid-image {
  flex-grow: 1;
  border: 1px solid black;
  display: flex;
  height: 470px;
  width: 400px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: 50%;
}
